<div class="completionIndex apply openItem">
  <%= render 'companies/shared/side_menu' %>
  <div class="completionIndex__container apply">
    <h1 class="completionIndex__title apply">スカウトの送信が完了しました</h1>
    <p class="completionIndex__text">指定したユーザーに対してスカウトメールを送信しました。</p>
    <%= link_to 'ユーザー一覧へ戻る', companies_users_path, class: 'generalButton bgBlack textWhite' %>
  </div>
</div>
