<!--<h1>SOKKIN TOP画面 開発中</h1>-->

<!--<ul>-->
<!--  <li><%#= link_to 'adminホーム', admins_home_path %></li>-->
<!--  <li><%#= link_to 'toBホーム', companies_home_path %></li>-->
<!--  <li><%#= link_to 'toCホーム', users_home_path %></li>-->
<!--</ul>-->
