<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>

<div class="contactIndex openItem">
  <%= render 'companies/shared/side_menu' %>
  <div class="openItem__wrapper">
    <h2 class="contactIndex__title">お問い合わせ</h2>
    <div class="test">
      <%= javascript_pack_tag ('common/hubspot') %>
    </div>
  </div>
</main>

