<div class="completionIndex apply openItem">
  <%= render 'users/shared/side_menu' %>
  <div class="completionIndex__container apply">
    <h1 class="completionIndex__title apply">案件への応募が完了しました</h1>
    <p class="completionIndex__text">
      あなたのメールアドレス宛に応募完了のお知らせメールを送信しました。<br>
      メールの内容をご確認ください。
    </p>
    <%= link_to '案件一覧へ戻る', users_propositions_path, class: 'generalButton bgBlack textWhite' %>
  </div>
</div>
