<div class="container mt-5">
  <% provide(:title, "企業編集") %>

  <%= render 'form', company: @company, url: admins_company_path(@company.id), method: :patch %>

  <div class="text-center">
    <%= link_to '詳細', admins_company_path(@company.id), class: "mb-3 btn btn-primary" %>
    <%= link_to '戻る', admins_companies_path, class: "mb-3 btn btn-primary" %>
  </div>
</div>