<h3>DSP・ADNW</h3>
<table class="table">
  <thead>
    <tr>
      <th>実務経験年数</th>
      <td><%= skill.dsp_experience_i18n %></td>
    </tr>
    <tr>
      <th>対応可能な業務範囲</th>
      <td>
        <% skill.dsp_scopes.each do |scopes| %>
          <%= scopes.answer %>
        <% end %>
      </td>
    </tr>
  </thead>
</table>