<%# TODO: 登録時、ログイン時でクラスを分けたい %>
<div class="inputFormIndex login openItem">
  <%= render 'users/shared/side_menu' %>
  <div class="openItem__wrapper">
    <h1 class="inputFormIndex__title"><%= first_sign_in? ? 'プロフィール' : '会員登録' %></h1>
    <div class="inputFormIndex__wrapper">
      <%= render "users/shared/profile_links" %>
      <div class="formDetailItem">
        <div class="basicHead">
          <h3 class="basicHead__title">就業状況</h3>
          <p class="basicHead__sub">work</p>
        </div>
        <p class="formDetailItem__text">
          ※個人情報に関わるため、企業側へ情報は開示されません。<br>
          おすすめ案件をご紹介する際などの参考情報として利用させていただきます。
        </p>

        <%= render partial: 'form', locals: { url: users_employment_statuses_path } %>
      </div>
    </div>
  </div>
</div>
