.propositionsSubmitIndex {
  @include mq(tab-min) {
    display: flex;
  }

  .openItem__wrapper {
    @include mq(tab-min) {
      width: 1100px;
    }
  }

  &__title {
    color: $black;
    font-family: Yu Gothic, YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Hiragino Sans', Meiryo, メイリオ, 'MS P Gothic', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__text {
    color: $black;
    font-family: Yu Gothic, YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Hiragino Sans', Meiryo, メイリオ, 'MS P Gothic', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .formDetailItem {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 100px;
    }

    + .generalButton {
      width: 180px;
      height: 50px;
      line-height: 50px;
      margin: 30px 0 0 630px;
    }
  }
}
