<p><%= @email %>様</p>

<p>会員登録ありがとうございます</p>
<p>下記のURLからアカウントの本登録完了をお願いします。</p>

<p><%= link_to 'アカウントを有効化する', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>※本サービスの登録に身に覚えの無い方は、恐れ入りますがこちらのメールの削除をお願いします。</p>