.formCheckBox {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__item {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  &__text {
    color: $black;
    font-size: 14px;
    font-family: Yu Gothic, YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Hiragino Sans', Meiryo, メイリオ, 'MS P Gothic', sans-serif;
    font-weight: bold;
  }
}
