.basicInfoMenu {
  border: 1px solid $gray3;
  border-radius: 5px;
  padding: 12px 0;

  &__item {
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    font-family: Yu Gothic, YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Hiragino Sans', Meiryo, メイリオ, 'MS P Gothic', sans-serif;
    font-weight: bold;
    cursor: pointer;

    > .link {
      color: $black;
    }

    &.active {
      position: relative;

      > .link {
        color: $brown;
      }

      &:before {
        content: '';
        height: 40px;
        border-left: 5px solid $brown;
        position: absolute;
        left: -3px;
      }
    }

    &.scout {
      padding-right: 20px;

      .generalButton {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
          content: '';
          width: 17px;
          height: 17px;
          background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.73977%202.37066C9.22427%201.91652%2010.0178%202.26016%2010.0178%202.92438V14.0776C10.0178%2014.7418%209.22488%2015.0855%208.73977%2014.6313L5.7423%2011.8227C5.54548%2011.6382%205.28589%2011.5356%205.01616%2011.5355H3.18745C2.66412%2011.5355%202.16222%2011.3276%201.79217%2010.9575C1.42212%2010.5875%201.21423%2010.0856%201.21423%209.56227V7.44213C1.21423%206.9188%201.42212%206.4169%201.79217%206.04685C2.16222%205.67681%202.66412%205.46891%203.18745%205.46891H5.01555C5.28573%205.46891%205.54559%205.3657%205.7423%205.18174L8.73977%202.37066ZM13.1409%203.14902C13.2316%203.06937%2013.3502%203.02897%2013.4707%203.03671C13.5911%203.04445%2013.7036%203.0997%2013.7833%203.19031C15.0762%204.65726%2015.7883%206.5462%2015.7857%208.50159C15.7857%2010.5367%2015.0292%2012.3958%2013.7833%2013.8123C13.7445%2013.8592%2013.6966%2013.8979%2013.6425%2013.926C13.5884%2013.9541%2013.5292%2013.9711%2013.4685%2013.9759C13.4077%2013.9807%2013.3466%2013.9733%2013.2888%2013.9541C13.231%2013.9349%2013.1776%2013.9042%2013.1318%2013.864C13.086%2013.8237%2013.0488%2013.7747%2013.0223%2013.7198C12.9958%2013.6649%2012.9807%2013.6053%2012.9777%2013.5444C12.9747%2013.4835%2012.9839%2013.4226%2013.0049%2013.3654C13.0258%2013.3082%2013.0581%2013.2557%2013.0997%2013.2112C14.2463%2011.9106%2014.8777%2010.2355%2014.8749%208.50159C14.8778%206.76767%2014.2464%205.09257%2013.0997%203.79199C13.0601%203.74707%2013.0298%203.6948%2013.0105%203.63817C12.9912%203.58154%2012.9832%203.52166%2012.9871%203.46195C12.9909%203.40223%2013.0064%203.34386%2013.0329%203.29017C13.0593%203.23647%2013.096%203.18851%2013.1409%203.14902ZM12.3571%205.0427C12.2847%204.94609%2012.1768%204.88221%2012.0572%204.86513C11.9377%204.84805%2011.8162%204.87917%2011.7196%204.95163C11.623%205.02409%2011.5591%205.13196%2011.5421%205.25152C11.525%205.37107%2011.5561%205.49251%2011.6286%205.58913C12.2596%206.42883%2012.6%207.45121%2012.5982%208.50159C12.5982%209.59445%2012.2375%2010.6023%2011.6286%2011.4141C11.5927%2011.4619%2011.5666%2011.5163%2011.5517%2011.5743C11.5369%2011.6322%2011.5336%2011.6925%2011.5421%2011.7517C11.5505%2011.8109%2011.5706%2011.8678%2011.601%2011.9193C11.6315%2011.9707%2011.6718%2012.0157%2011.7196%2012.0516C11.7675%2012.0874%2011.8219%2012.1135%2011.8798%2012.1284C11.9378%2012.1432%2011.998%2012.1465%2012.0572%2012.1381C12.1164%2012.1296%2012.1734%2012.1096%2012.2248%2012.0791C12.2763%2012.0486%2012.3212%2012.0083%2012.3571%2011.9605C13.1064%2010.9632%2013.5107%209.74903%2013.5089%208.50159C13.5108%207.25415%2013.1065%206.04%2012.3571%205.0427Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E') no-repeat;
          margin-left: 5px;
          display: block;
        }
      }
    }
  }
}
