.profileModal {
  width: 262px;
  height: 300px;
  background: $white;
  box-shadow: 0 2px 7px rgba(166, 130, 108, 0.23);
  border-radius: 0 0 5px 5px;

  &.company {
    height: 188px;
  }

  &.none {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: .15s ease;
  }

  &__title {
    color: $black;
    font-size: 20px;
    font-family: Yu Gothic, YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Hiragino Sans', Meiryo, メイリオ, 'MS P Gothic', sans-serif;
    padding: 20px 28px 11px;
  }

  &__list {
    > .item {
      height: 60px;
      line-height: 60px;
      color: $black;
      font-family: Yu Gothic, YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Hiragino Sans', Meiryo, メイリオ, 'MS P Gothic', sans-serif;
      font-size: 16px;
      padding: 0 28px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        opacity: .7;
        transition: .4s ease-in-out;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $gray3;

        &:before {
          content: '';
          margin-right: 7px;
        }
      }

      &.profile:before {
        width: 16px;
        height: 16px;
        background: image-url('common/icon/personal.svg') no-repeat;
      }

      &.favorite:before {
        width: 18px;
        height: 17px;
        background: image-url('common/icon/favorite.svg') no-repeat;
      }

      &.account:before {
        width: 18px;
        height: 17px;
        background: image-url('common/icon/account.svg') no-repeat;
      }
    }
  }
}
