@use '../../base/Variable' as *;

.sideMenu {
  height: 100vh;
  padding: 40px 0;
  background: $brown2;

  @include mq(tab) {
    display: none;
  }

  &.fixed {
    @include mq(tab-min) {
      position: sticky;
      top: 0;
      left: 0;
    }
  }

  &.show {
    display: none;

    @include mq(tab) {
      padding: 0;
      display: block;
      background: $white;
      border-bottom: 1px solid $gray3;
    }
  }

  &__item {
    width: 100%;
    font-family: Yu Gothic, YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Hiragino Sans', Meiryo, メイリオ, 'MS P Gothic', sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;

    a {
      color: $black;
    }

    &:not(.active) {
      cursor: pointer;

      &:hover {
        opacity: .7;
        transition: .4s ease-in-out;
      }
    }

    @include mq(tab-min) {
      padding-left: 30px;
    }

    &:not(:last-child) {
      @include mq(tab) {
        border-bottom: 1px solid $gray3;
      }

      @include mq(tab-min) {
        margin-bottom: 30px;
      }
    }

    @include mq(tab) {
      height: 60px;
      line-height: 60px;
      padding-left: 60px;
      background: $white;
    }

    &.active {
      display: flex;
      > a {
        @include mq(tab-min) {
          color: $brown;
        }
      }

      &:after {
        @include mq(tab-min) {
          content: '';
          width: 5px;
          height: 40px;
          position: absolute;
          right: -2px;
          background: $brown;
        }
      }

      &:before {
        display: block;
      }

      &.home:before {
        @include mq(tab-min) {
          background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2220%22%20height%3D%2217%22%20viewBox%3D%220%200%2020%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.6721%2010H17.0001V16C17.0001%2016.445%2016.8061%2017%2016.0001%2017H12.0001V11H8.00011V17H4.00011C3.19411%2017%203.00011%2016.445%203.00011%2016V10H1.32811C0.730106%2010%200.858106%209.676%201.26811%209.252L9.29211%201.22C9.48711%201.018%209.74311%200.917997%2010.0001%200.907997C10.2571%200.917997%2010.5131%201.017%2010.7081%201.22L18.7311%209.251C19.1421%209.676%2019.2701%2010%2018.6721%2010Z%22%20fill%3D%22%23A6826C%22%2F%3E%3C%2Fsvg%3E');
        }
      }

      &.job:before {
        @include mq(tab-min) {
          background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.5%202C8.18967%201.99984%207.88694%202.09593%207.63351%202.27503C7.38008%202.45413%207.18844%202.70742%207.085%203H5.5C5.10217%203%204.72064%203.15804%204.43934%203.43934C4.15803%203.72064%204%204.10218%204%204.5V8.256C4.83937%207.95889%205.74801%207.91746%206.61093%208.13697C7.47385%208.35648%208.25226%208.82704%208.84763%209.48912C9.44301%2010.1512%209.82859%2010.975%209.95557%2011.8563C10.0826%2012.7376%209.94524%2013.6368%209.561%2014.44L11.561%2016.44C11.7612%2016.6401%2011.9007%2016.8928%2011.9633%2017.1689C12.0259%2017.4449%2012.0092%2017.7331%2011.915%2018H14.5C14.8978%2018%2015.2794%2017.842%2015.5607%2017.5607C15.842%2017.2794%2016%2016.8978%2016%2016.5V4.5C16%204.10218%2015.842%203.72064%2015.5607%203.43934C15.2794%203.15804%2014.8978%203%2014.5%203H12.915C12.8116%202.70742%2012.6199%202.45413%2012.3665%202.27503C12.1131%202.09593%2011.8103%201.99984%2011.5%202H8.5ZM11.5%203C11.6326%203%2011.7598%203.05268%2011.8536%203.14645C11.9473%203.24022%2012%203.36739%2012%203.5C12%203.63261%2011.9473%203.75979%2011.8536%203.85355C11.7598%203.94732%2011.6326%204%2011.5%204H8.5C8.36739%204%208.24021%203.94732%208.14645%203.85355C8.05268%203.75979%208%203.63261%208%203.5C8%203.36739%208.05268%203.24022%208.14645%203.14645C8.24021%203.05268%208.36739%203%208.5%203H11.5ZM8.303%2014.596C8.83291%2013.8873%209.07474%2013.0043%208.9798%2012.1245C8.88486%2011.2447%208.46022%2010.4336%207.79132%209.85428C7.12242%209.27498%206.25893%208.97055%205.37462%209.00225C4.49031%209.03395%203.65083%209.39943%203.02513%2010.0251C2.39943%2010.6508%202.03395%2011.4903%202.00225%2012.3746C1.97055%2013.2589%202.27498%2014.1224%202.85428%2014.7913C3.43357%2015.4602%204.24473%2015.8849%205.1245%2015.9798C6.00426%2016.0747%206.88734%2015.8329%207.596%2015.303L10.146%2017.853C10.2398%2017.9469%2010.367%2017.9997%2010.4996%2017.9998C10.6323%2017.9999%2010.7596%2017.9473%2010.8535%2017.8535C10.9474%2017.7597%2011.0002%2017.6325%2011.0003%2017.4999C11.0004%2017.3672%2010.9478%2017.2399%2010.854%2017.146L8.304%2014.596H8.303ZM5.5%2015C4.83696%2015%204.20107%2014.7366%203.73223%2014.2678C3.26339%2013.7989%203%2013.163%203%2012.5C3%2011.837%203.26339%2011.2011%203.73223%2010.7322C4.20107%2010.2634%204.83696%2010%205.5%2010C6.16304%2010%206.79893%2010.2634%207.26777%2010.7322C7.73661%2011.2011%208%2011.837%208%2012.5C8%2013.163%207.73661%2013.7989%207.26777%2014.2678C6.79893%2014.7366%206.16304%2015%205.5%2015Z%22%20fill%3D%22%23A6826C%22%2F%3E%3C%2Fsvg%3E');
        }
      }

      &.profile:before {
        @include mq(tab-min) {
          background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11%206C11%206.79565%2010.6839%207.55871%2010.1213%208.12132C9.55871%208.68393%208.79565%209%208%209C7.20435%209%206.44129%208.68393%205.87868%208.12132C5.31607%207.55871%205%206.79565%205%206C5%205.20435%205.31607%204.44129%205.87868%203.87868C6.44129%203.31607%207.20435%203%208%203C8.79565%203%209.55871%203.31607%2010.1213%203.87868C10.6839%204.44129%2011%205.20435%2011%206Z%22%20fill%3D%22%23A6826C%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%208C0%205.87827%200.842855%203.84344%202.34315%202.34315C3.84344%200.842855%205.87827%200%208%200C10.1217%200%2012.1566%200.842855%2013.6569%202.34315C15.1571%203.84344%2016%205.87827%2016%208C16%2010.1217%2015.1571%2012.1566%2013.6569%2013.6569C12.1566%2015.1571%2010.1217%2016%208%2016C5.87827%2016%203.84344%2015.1571%202.34315%2013.6569C0.842855%2012.1566%200%2010.1217%200%208ZM8%201C6.68178%201.00007%205.39037%201.37236%204.2744%202.07403C3.15844%202.77569%202.26328%203.77821%201.69196%204.96619C1.12065%206.15418%200.896386%207.47934%201.045%208.78916C1.19361%2010.099%201.70905%2011.3402%202.532%2012.37C3.242%2011.226%204.805%2010%208%2010C11.195%2010%2012.757%2011.225%2013.468%2012.37C14.2909%2011.3402%2014.8064%2010.099%2014.955%208.78916C15.1036%207.47934%2014.8794%206.15418%2014.308%204.96619C13.7367%203.77821%2012.8416%202.77569%2011.7256%202.07403C10.6096%201.37236%209.31822%201.00007%208%201Z%22%20fill%3D%22%23A6826C%22%2F%3E%3C%2Fsvg%3E');
        }
      }

      &.skill:before {
        @include mq(tab-min) {
          background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15%202.25H3C2.175%202.25%201.5%202.925%201.5%203.75V14.25C1.5%2015.075%202.175%2015.75%203%2015.75H15C15.825%2015.75%2016.5%2015.075%2016.5%2014.25V3.75C16.5%202.925%2015.825%202.25%2015%202.25ZM7.5%2012.75H3.75V11.25H7.5V12.75ZM7.5%209.75H3.75V8.25H7.5V9.75ZM7.5%206.75H3.75V5.25H7.5V6.75ZM11.115%2011.25L9%209.12L10.0575%208.0625L11.115%209.1275L13.4925%206.75L14.5575%207.815L11.115%2011.25Z%22%20fill%3D%22%23A6826C%22%2F%3E%3C%2Fsvg%3E');
        }
      }

      &.applied:before {
        @include mq(tab-min) {
          background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_1026_11050)%22%3E%3Cpath%20d%3D%22M13.7109%203.28125H12.1875V12.1875C12.1875%2012.4361%2012.2863%2012.6746%2012.4621%2012.8504C12.6379%2013.0262%2012.8764%2013.125%2013.125%2013.125C13.3736%2013.125%2013.6121%2013.0262%2013.7879%2012.8504C13.9637%2012.6746%2014.0625%2012.4361%2014.0625%2012.1875V3.63281C14.0625%203.53957%2014.0255%203.45015%2013.9595%203.38422C13.8936%203.31829%2013.8042%203.28125%2013.7109%203.28125Z%22%20fill%3D%22%23A6826C%22%2F%3E%3Cpath%20d%3D%22M12.6313%2013.9966C12.2348%2013.8878%2011.8849%2013.6519%2011.6354%2013.3251C11.3859%2012.9983%2011.2505%2012.5987%2011.25%2012.1875V1.28906C11.25%201.19582%2011.213%201.1064%2011.147%201.04047C11.0811%200.974539%2010.9917%200.9375%2010.8984%200.9375H1.28906C1.19582%200.9375%201.1064%200.974539%201.04047%201.04047C0.974539%201.1064%200.9375%201.19582%200.9375%201.28906V12.4219C0.9375%2012.857%201.11035%2013.2743%201.41803%2013.582C1.7257%2013.8897%202.143%2014.0625%202.57812%2014.0625H12.6226C12.6309%2014.0628%2012.639%2014.06%2012.6454%2014.0547C12.6517%2014.0493%2012.6558%2014.0418%2012.6569%2014.0335C12.658%2014.0253%2012.656%2014.0169%2012.6513%2014.0101C12.6466%2014.0033%2012.6394%2013.9985%2012.6313%2013.9966ZM2.8125%206.09375V3.28125H5.625V6.09375H2.8125ZM9.375%2011.7188H2.8125V10.7813H9.375V11.7188ZM9.375%209.84375H2.8125V8.90625H9.375V9.84375ZM9.375%207.96875H2.8125V7.03125H9.375V7.96875ZM9.375%206.09375H6.5625V5.15625H9.375V6.09375ZM9.375%204.21875H6.5625V3.28125H9.375V4.21875Z%22%20fill%3D%22%23A6826C%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
        }
      }

      &.attendance:before {
        @include mq(tab-min) {
          background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M13.5%208.25C14.6175%208.25%2015.6525%208.6025%2016.5%209.195V6C16.5%205.1675%2015.8325%204.5%2015%204.5H12V3C12%202.1675%2011.3325%201.5%2010.5%201.5H7.5C6.6675%201.5%206%202.1675%206%203V4.5H3C2.1675%204.5%201.5075%205.1675%201.5075%206L1.5%2014.25C1.5%2015.0825%202.1675%2015.75%203%2015.75H8.76C8.37948%2014.9501%208.20768%2014.067%208.26061%2013.1828C8.31353%2012.2986%208.58946%2011.4422%209.06268%2010.6935C9.5359%209.9447%2010.191%209.32794%2010.9669%208.90068C11.7428%208.47343%2012.6142%208.24958%2013.5%208.25ZM7.5%203H10.5V4.5H7.5V3Z%22%20fill%3D%22%23A6826C%22%2F%3E%3Cpath%20d%3D%22M13.5%209.75C11.43%209.75%209.75%2011.43%209.75%2013.5C9.75%2015.57%2011.43%2017.25%2013.5%2017.25C15.57%2017.25%2017.25%2015.57%2017.25%2013.5C17.25%2011.43%2015.57%209.75%2013.5%209.75ZM14.7375%2015.2625L13.125%2013.65V11.25H13.875V13.3425L15.2625%2014.73L14.7375%2015.2625Z%22%20fill%3D%22%23A6826C%22%2F%3E%3C%2Fsvg%3E');
        }
      }

      &.account:before {
        @include mq(tab-min) {
          background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.00883%206.86602C8.48324%206.86602%207.99105%207.06993%207.6184%207.44258C7.2475%207.81524%207.04184%208.30743%207.04184%208.83301C7.04184%209.3586%207.2475%209.85079%207.6184%2010.2234C7.99105%2010.5943%208.48324%2010.8%209.00883%2010.8C9.53441%2010.8%2010.0266%2010.5943%2010.3993%2010.2234C10.7702%209.85079%2010.9758%209.3586%2010.9758%208.83301C10.9758%208.30743%2010.7702%207.81524%2010.3993%207.44258C10.2172%207.25917%2010.0006%207.11375%209.7619%207.01477C9.52321%206.91579%209.26723%206.86523%209.00883%206.86602ZM16.2563%2011.0057L15.1067%2010.0231C15.1612%209.68907%2015.1893%209.34805%2015.1893%209.0088C15.1893%208.66954%2015.1612%208.32676%2015.1067%207.99454L16.2563%207.01192C16.3431%206.93758%2016.4053%206.83856%2016.4345%206.72803C16.4637%206.6175%2016.4586%206.50071%2016.4198%206.39317L16.4039%206.34747C16.0876%205.46274%2015.6135%204.64266%2015.0047%203.92696L14.9731%203.89005C14.8992%203.80312%2014.8006%203.74064%2014.6905%203.71083C14.5804%203.68102%2014.4638%203.68528%2014.3561%203.72305L12.9288%204.23106C12.4014%203.79864%2011.8143%203.45762%2011.178%203.22032L10.902%201.72794C10.8812%201.61551%2010.8266%201.51208%2010.7456%201.43139C10.6646%201.3507%2010.561%201.29656%2010.4485%201.27618L10.401%201.26739C9.48695%201.10215%208.52367%201.10215%207.60961%201.26739L7.56215%201.27618C7.44964%201.29656%207.346%201.3507%207.265%201.43139C7.18399%201.51208%207.12945%201.61551%207.10863%201.72794L6.8309%203.22735C6.2006%203.46655%205.61343%203.80674%205.09242%204.23458L3.65453%203.72305C3.54689%203.68498%203.43022%203.68057%203.32001%203.7104C3.2098%203.74022%203.11128%203.80288%203.03754%203.89005L3.0059%203.92696C2.39821%204.64343%201.92427%205.4633%201.60668%206.34747L1.59086%206.39317C1.51176%206.6129%201.5768%206.85899%201.75434%207.01192L2.91801%208.00508C2.86352%208.33555%202.83715%208.67305%202.83715%209.00704C2.83715%209.34454%202.86352%209.68204%202.91801%2010.009L1.75785%2011.0022C1.67101%2011.0765%201.60885%2011.1755%201.57965%2011.286C1.55045%2011.3966%201.55559%2011.5134%201.59437%2011.6209L1.6102%2011.6666C1.92836%2012.5508%202.3977%2013.3682%203.00941%2014.0871L3.04105%2014.124C3.11498%2014.2109%203.2135%2014.2734%203.32364%2014.3032C3.43379%2014.3331%203.55038%2014.3288%203.65805%2014.291L5.09594%2013.7795C5.61977%2014.2102%206.20336%2014.5512%206.83441%2014.7867L7.11215%2016.2861C7.13297%2016.3986%207.18751%2016.502%207.26851%2016.5827C7.34952%2016.6634%207.45316%2016.7175%207.56566%2016.7379L7.61313%2016.7467C8.53618%2016.9128%209.48148%2016.9128%2010.4045%2016.7467L10.452%2016.7379C10.5645%2016.7175%2010.6681%2016.6634%2010.7491%2016.5827C10.8301%2016.502%2010.8847%2016.3986%2010.9055%2016.2861L11.1815%2014.7938C11.8178%2014.5547%2012.4049%2014.2154%2012.9323%2013.783L14.3596%2014.291C14.4672%2014.3291%2014.5839%2014.3335%2014.6941%2014.3037C14.8043%2014.2739%2014.9029%2014.2112%2014.9766%2014.124L15.0082%2014.0871C15.62%2013.3647%2016.0893%2012.5508%2016.4075%2011.6666L16.4233%2011.6209C16.4989%2011.4029%2016.4338%2011.1586%2016.2563%2011.0057ZM9.00883%2011.9232C7.30199%2011.9232%205.91859%2010.5399%205.91859%208.83301C5.91859%207.12618%207.30199%205.74278%209.00883%205.74278C10.7157%205.74278%2012.0991%207.12618%2012.0991%208.83301C12.0991%2010.5399%2010.7157%2011.9232%209.00883%2011.9232Z%22%20fill%3D%22%23A6826C%22%2F%3E%3C%2Fsvg%3E')
        }
      }

      &.useFlow:before {
        @include mq(tab-min) {
          background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.50004%201.0625C10.4727%201.0625%2012.3646%201.84615%2013.7595%203.24105C15.1544%204.63595%2015.9381%206.52784%2015.9381%208.50053C15.9381%2010.4732%2015.1544%2012.3651%2013.7595%2013.76C12.3646%2015.1549%2010.4727%2015.9386%208.50004%2015.9386C6.52735%2015.9386%204.63546%2015.1549%203.24056%2013.76C1.84566%2012.3651%201.06201%2010.4732%201.06201%208.50053C1.06201%206.52784%201.84566%204.63595%203.24056%203.24105C4.63546%201.84615%206.52735%201.0625%208.50004%201.0625ZM9.61567%205.62912C10.1682%205.62912%2010.6165%205.24556%2010.6165%204.67712C10.6165%204.10869%2010.1671%203.72513%209.61567%203.72513C9.06317%203.72513%208.61692%204.10869%208.61692%204.67712C8.61692%205.24556%209.06317%205.62912%209.61567%205.62912ZM9.81011%2011.6078C9.81011%2011.4941%209.84942%2011.1987%209.8271%2011.0309L8.95373%2012.036C8.77311%2012.2262%208.54679%2012.3579%208.44054%2012.3229C8.39234%2012.3051%208.35205%2012.2708%208.32693%2012.226C8.3018%2012.1812%208.29349%2012.1289%208.30348%2012.0785L9.75911%207.48C9.87811%206.89669%209.55086%206.36438%208.85704%206.29638C8.12498%206.29638%207.04761%207.03906%206.39204%207.9815C6.39204%208.09413%206.37079%208.37462%206.39311%208.5425L7.26542%207.53631C7.44604%207.34825%207.65642%207.21544%207.76267%207.25156C7.81502%207.27035%207.85791%207.30891%207.88214%207.35897C7.90638%207.40903%207.91002%207.4666%207.89229%207.51931L6.44942%2012.0955C6.28261%2012.631%206.59817%2013.1559%207.36317%2013.2749C8.48942%2013.2749%209.15454%2012.5503%209.81117%2011.6078H9.81011Z%22%20fill%3D%22%23A6826C%22%2F%3E%3C%2Fsvg%3E');
        }
      }

      &.contact:before {
        @include mq(tab-min) {
          background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.3334%205.65867V11.25C14.3334%2012.2167%2013.5501%2013%2012.5834%2013H3.41675C2.95262%2013%202.5075%2012.8156%202.17931%2012.4874C1.85112%2012.1592%201.66675%2011.7141%201.66675%2011.25V5.65867L7.79941%209.032C7.92441%209.10067%208.07608%209.10067%208.20075%209.032L14.3334%205.65833V5.65867ZM12.5834%203C13.0402%203.00004%2013.4789%203.17872%2013.8058%203.49786C14.1327%203.817%2014.3218%204.2513%2014.3327%204.708L8.00008%208.19133L1.66741%204.70767L1.66808%204.67767C1.68675%204.22642%201.87915%203.79986%202.20505%203.48719C2.53095%203.17452%202.96511%202.99996%203.41675%203H12.5834Z%22%20fill%3D%22%23A6826C%22%2F%3E%3C%2Fsvg%3E');
        }
      }

      &.scout:before {
        @include mq(tab-min) {
          background: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.73977%202.37066C9.22427%201.91652%2010.0178%202.26016%2010.0178%202.92438V14.0776C10.0178%2014.7418%209.22488%2015.0855%208.73977%2014.6313L5.7423%2011.8227C5.54548%2011.6382%205.28589%2011.5356%205.01616%2011.5355H3.18745C2.66412%2011.5355%202.16222%2011.3276%201.79217%2010.9575C1.42212%2010.5875%201.21423%2010.0856%201.21423%209.56227V7.44213C1.21423%206.9188%201.42212%206.4169%201.79217%206.04685C2.16222%205.67681%202.66412%205.46891%203.18745%205.46891H5.01555C5.28573%205.46891%205.54559%205.3657%205.7423%205.18174L8.73977%202.37066ZM13.1409%203.14902C13.2316%203.06937%2013.3502%203.02897%2013.4707%203.03671C13.5911%203.04445%2013.7036%203.0997%2013.7833%203.19031C15.0762%204.65726%2015.7883%206.5462%2015.7857%208.50159C15.7857%2010.5367%2015.0292%2012.3958%2013.7833%2013.8123C13.7445%2013.8592%2013.6966%2013.8979%2013.6425%2013.926C13.5884%2013.9541%2013.5292%2013.9711%2013.4685%2013.9759C13.4077%2013.9807%2013.3466%2013.9733%2013.2888%2013.9541C13.231%2013.9349%2013.1776%2013.9042%2013.1318%2013.864C13.086%2013.8237%2013.0488%2013.7747%2013.0223%2013.7198C12.9958%2013.6649%2012.9807%2013.6053%2012.9777%2013.5444C12.9747%2013.4835%2012.9839%2013.4226%2013.0049%2013.3654C13.0258%2013.3082%2013.0581%2013.2557%2013.0997%2013.2112C14.2463%2011.9106%2014.8777%2010.2355%2014.8749%208.50159C14.8778%206.76767%2014.2464%205.09257%2013.0997%203.79199C13.0601%203.74707%2013.0298%203.6948%2013.0105%203.63817C12.9912%203.58154%2012.9832%203.52166%2012.9871%203.46195C12.9909%203.40223%2013.0064%203.34386%2013.0329%203.29017C13.0593%203.23647%2013.096%203.18851%2013.1409%203.14902ZM12.3571%205.0427C12.2847%204.94609%2012.1768%204.88221%2012.0572%204.86513C11.9377%204.84805%2011.8162%204.87917%2011.7196%204.95163C11.623%205.02409%2011.5591%205.13196%2011.5421%205.25152C11.525%205.37107%2011.5561%205.49251%2011.6286%205.58913C12.2596%206.42883%2012.6%207.45121%2012.5982%208.50159C12.5982%209.59445%2012.2375%2010.6023%2011.6286%2011.4141C11.5927%2011.4619%2011.5666%2011.5163%2011.5517%2011.5743C11.5369%2011.6322%2011.5336%2011.6925%2011.5421%2011.7517C11.5505%2011.8109%2011.5706%2011.8678%2011.601%2011.9193C11.6315%2011.9707%2011.6718%2012.0157%2011.7196%2012.0516C11.7675%2012.0874%2011.8219%2012.1135%2011.8798%2012.1284C11.9378%2012.1432%2011.998%2012.1465%2012.0572%2012.1381C12.1164%2012.1296%2012.1734%2012.1096%2012.2248%2012.0791C12.2763%2012.0486%2012.3212%2012.0083%2012.3571%2011.9605C13.1064%2010.9632%2013.5107%209.74903%2013.5089%208.50159C13.5108%207.25415%2013.1065%206.04%2012.3571%205.0427Z%22%20fill%3D%22%23A6826C%22%2F%3E%3C%2Fsvg%3E');
        }
      }
    }

    &:before {
      content: '';
      margin-right: 10px;
    }

    &.home:before {
      width: 20px;
      height: 17px;
      background: image-url('common/icon/home.svg') 0 50% no-repeat;
    }

    &.job:before {
      width: 20px;
      height: 20px;
      background: image-url('users/icon/job.svg') 0 50% no-repeat;
    }

    &.profile:before {
      width: 20px;
      height: 20px;
      margin-right: 7px;
      background: image-url('common/icon/personal.svg') 0 50% no-repeat;
    }

    &.skill:before {
      width: 18px;
      height: 18px;
      background: image-url('users/icon/check.svg') 0 50% no-repeat;
    }

    &.applied:before {
      width: 15px;
      height: 15px;
      background: image-url('common/icon/applied.svg') 0 50% no-repeat;
    }

    &.attendance:before {
      width: 18px;
      height: 18px;
      background: image-url('common/icon/attendance.svg') 0 50% no-repeat;
    }

    &.account:before {
      width: 18px;
      height: 18px;
      background: image-url('common/icon/account.svg') 0 50% no-repeat;
    }

    &.useFlow:before {
      width: 17px;
      height: 17px;
      background: image-url('common/icon/use_flow.svg') 0 50% no-repeat;
    }

    &.contact:before {
      width: 16px;
      height: 16px;
      background: image-url('common/icon/mail.svg') 0 50% no-repeat;
    }

    &.logout:before {
      width: 16px;
      height: 16px;
      background: image-url('users/icon/logout.svg') 0 50% no-repeat;
    }

    &.job2:before {
      width: 16px;
      height: 16px;
      background: image-url('companies/icon/document.svg') 0 50% no-repeat;
    }

    &.scout:before {
      width: 16px;
      height: 16px;
      background: image-url('companies/icon/scout.svg') 0 50% no-repeat;
    }
  }
}
