<div class="completionIndex">
  <div class="completionIndex__container">
    <h1 class="completionIndex__title">パスワード再設定用のメールをお送りしました</h1>
    <p class="completionIndex__text">
      入力していただいたメールアドレス宛にパスワード再設定用のリンクをお送りしました。<br>
      メールをご確認の上、パスワードを再設定してください。
    </p>
  </div>
</div>
