<div class="completionIndex">
  <div class="completionIndex__container">
    <h1 class="completionIndex__title password">パスワードの再設定が完了しました</h1>
    <p class="completionIndex__text">
      新しいパスワードの登録が完了しました。<br>
      再度ログインしてください。
    </p>
    <%= link_to 'ログインへ戻る', destroy_company_session_path, class: 'generalButton bgBlack textWhite' %>
  </div>
</div>
