@use '../../base/Variable' as *;

.simpleContent {
  &__title {
    color: $black;
    font-family: Yu Gothic, YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Hiragino Sans', Meiryo, メイリオ, 'MS P Gothic', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;

    @include mq(tab) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    > .text {
      color: $black;
      font-family: Yu Gothic, YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Hiragino Sans', Meiryo, メイリオ, 'MS P Gothic', sans-serif;
      font-size: 16px;
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
