<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <br>
    <p>========================================</p>
    <p>SOKKIN MATCH運営事務局</p>
    <p>Email: info@sokkin-match.me</p>
    <p>TEL: 03-6273-0773</p>
    <p>▼株式会社SOKKIN</p>
    <p>〒160-0022 東京都新宿区新宿2丁目8-3</p>
    <p>AOIHOUSE SHINJUKU 9F</p>
  </body>
</html>
