<div class="completionIndex">
  <div class="completionIndex__container">
    <h1 class="completionIndex__title">会員登録用のメールをお送りしました</h1>
    <p class="completionIndex__text">
      入力していただいたメールアドレス宛にパスワード再設定用のリンクをお送りしました。<br>
      メールをご確認のうえ、会員登録を完了してください。
    </p>
  </div>
</div>
